body {
  background-image: url(../assets/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
}

@media (max-width: 700px) {
  body {
    background-size: auto;
  }
}
